<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Veterin치rio</title>
</head>
<body>
    <h1>Editar Veterin치rio</h1>
    <form action="/vet/edit/<%= veterinario._id %>" method="POST">
        <label for="codVet">C칩digo do Veterin치rio:</