<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Editar Administrador</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link para um arquivo CSS, se necessário -->
</head>
<body>
    <h1>Editar Administrador</h1>
    <form action="/colaborador-adm/edt/<%= administrador._id