<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Receita</title>
</head>
<body>
    <h1>Editar Receita</h1>
    <form action="/receita/edit/<%= receita._id %>" method="POST">
        <label for="codAnimal">Código do Animal:</label>
        <input type="text" id="codAnimal" name="codAnimal" value="<%= receita.codAnimal %>" required><br>

        <label for="nomeAnimal">Nome do Animal:</label>
        <input type="text" id="nomeAnimal" name="nomeAnimal" value="<%= receita.nomeAnimal %>" required><br>

        <label for="medicamentosPresc">Medicamentos Prescritos:</label>
        <textarea id="medicamentosPresc" name="medicamentosPresc" required><%= receita.medicamentosPresc %></textarea><br>

        <label for="dosagem">Dosagem:</label>
        <input type="text" id="dosagem" name="